* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f9;
}

a {
  text-decoration: none;
}

.popup .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(96, 112, 255);
  mix-blend-mode: multiply;
  backdrop-filter: blur(5px);
  z-index: 1;
}

.popup .content {
  position: absolute;
  top: 3.7rem;
  left: 2rem;
  right: 0;
  z-index: 2;
}

.nav-menu-modal {
  list-style: none;
}

.nav-menu-modal a {
  font-weight: 600;
  font-size: 2rem;
  line-height: 3.5rem;
  color: #fff;
}

.popup,
.work-popup,
.invisible {
  display: none;
}

.active {
  display: block;
}

.popup .close-btn {
  position: absolute;
  right: 2.9rem;
  top: -0.9rem;
}

.work-popup .work-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  overflow-y: scroll;
  z-index: 1;
}

.work-popup .work-content {
  background: #fff;
  width: 90%;
  height: auto;
  margin: 8vh auto;
  z-index: 2;
  border-radius: 16px;
  padding: 13px;
  display: grid;
  box-sizing: border-box;
  grid-gap: 15px;
  grid-template-areas:
    'title close-button'
    'subtitle subtitle'
    'image image'
    'text text'
    'tags tags'
    'line line'
    'live-button source-button';
}

.work-popup .work-close-btn {
  grid-area: close-button;
  position: relative;
}

.work-pointer {
  cursor: pointer;
}

.work-close-btn svg {
  position: absolute;
  right: 4%;
  top: 2%;
}

h3 {
  color: #172b4d;
  font-weight: bold;
  font-size: 2rem;
}

.work-popup .work-content h3 {
  grid-area: title;
}

.work-data {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.work-popup .work-data {
  grid-area: subtitle;
}

.work-img-popup {
  width: 100%;
}

.work-popup .work-img-container {
  grid-area: image;
  width: 100%;
}

.work-popup .work-popup-p {
  grid-area: text;
}

.work-img {
  width: 100%;
}

.work-tags {
  list-style-type: none;
  display: flex;
}

.work-popup .work-tags {
  grid-area: tags;
}

.work-popup .work-line {
  grid-area: line;
  border: 1px solid rgba(235, 236, 240, 1);
}

#live-btn {
  grid-area: live-button;
}

#source-btn {
  grid-area: source-button;
}

#live-btn,
#source-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-hero-wrapper {
  background: #fff url("images/header-shape-m.png") top 5rem right no-repeat;
  border-radius: 0 0 0 6rem;
  width: 100%;
  height: 718px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrapper,
nav,
.hero {
  padding: 1.4rem 1.5rem;
}

.logo-link {
  color: #6070ff;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;
}

.nav-menu {
  display: none;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 610px;
}

.hero-wrapper {
  padding: 3rem 0;
}

h1,
h2 {
  color: #172b4d;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 3.25rem;
  margin: 1rem 0;
}

.about-me-p {
  color: #344563;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0.5rem 0;
}

.connect {
  text-transform: uppercase;
  color: #7f8cff;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  margin: 1.2rem 0 0.8rem 0;
}

.socials-icons {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.social {
  margin-right: 1rem;
  width: 1.25rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  background-color: #f7f7f9;
  padding: 5rem 1.5rem;
  gap: 5rem 0;
}

.work-container {
  background-color: #fff;
  border: 1px solid #dfe1e6;
  text-align: start;
  font-size: 30px;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.about-work {
  display: flex;
  flex-direction: column;
  margin: 0.8rem 0;
}

.work-dot {
  margin: 0 0.5rem;
}

.work-client {
  text-transform: uppercase;
  color: #344563;
}

.work-role,
.work-year {
  color: #7a869a;
}

.work-p {
  color: #344563;
  font-weight: 400;
  font-size: 1rem;
}

.work-tag {
  background-color: #ebebff;
  border-radius: 0.5rem;
  color: #6070ff;
  font-weight: 400;
  font-size: 0.75rem;
  padding: 4px 12px;
  margin: 0.8rem 0.5rem 0 0;
}

.btn {
  all: unset;
  border: 1px solid #396df2;
  border-radius: 0.5rem;
  color: #396df2;
  background: #fff;
  font-weight: 500;
  font-size: 1.15rem;
  padding: 0.75rem;
  margin: 0.7rem 0;
}

.work-btn {
  width: auto;
}

.btn:hover {
  color: #fff;
  background: #6070ff;
  box-shadow: 0 8px 16px 0 #4053fc3d;
  cursor: pointer;
}

.btn:active {
  background: #2230d2;
  box-shadow: none;
}

.btn:disabled {
  background: #5e6c84;
  border: 1px solid #c1c7d0;
  box-shadow: none;
}

.about {
  background: #fff 0 0 no-repeat;
  border-radius: 0 6rem 0 0;
  width: 100%;
}

.about-wrapper {
  padding: 4rem 1.5rem 2rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.about-info-wrapper {
  display: flex;
  flex-direction: column;
}

.about-btn {
  width: 10rem;
}

.socials-icons:nth-of-type(2) {
  padding: 1.2rem 1.2rem;
}

.skills {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 1.3rem;
}

.skills-container {
  margin: 2rem 0;
}

.skill {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dfe1e6;
  padding: 1.5rem;
  color: #000;
}

.form-section {
  background-color: #fff;
}

.form-container {
  background: #6070ff url("images/contact-shape-m.png") top 3rem right no-repeat;
  border-radius: 6rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

.contact-wrapper {
  padding: 6.4rem 1.5rem 3rem 1.5rem;
  text-align: center;
}

.contact-content-wrapper,
.contact-title {
  color: #fff;
}

.contact-p {
  font-weight: 300;
}

.form-wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.input-class {
  margin-top: 1rem;
  padding: 0.7rem;
  border-radius: 0.4rem;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #cfd8dc;
}

.submit-btn {
  width: 8rem;
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 17px;
  }

  .body {
    width: 100%;
  }

  .popup {
    display: none;
  }

  .btn {
    transition: 0.3s;
  }

  .btn:hover {
    transform: scale(1.1);
  }

  .btn:focus {
    border: 3px solid #000;
  }

  .work-popup .work-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    overflow-y: scroll;
    z-index: 1;
  }

  .work-popup .work-content {
    width: 80%;
    border-radius: 16px;
    padding: 20px;
    grid-gap: 15px;
    grid-template-areas:
      'title title close-button'
      'subtitle subtitle subtitle'
      'image image image'
      'text tags tags'
      'text live-button source-button'
      'text . .';
    grid-template-columns: 65% 1fr 1fr;
  }

  .work-popup .work-line {
    display: none;
  }

  #live-btn,
  #source-btn {
    padding: 0.3rem 1rem;
    font-size: 0.8rem;
    margin: 0;
  }

  .header-hero-wrapper {
    background: #fff url("images/header-shape-desk.png") top 6rem right no-repeat;
    border-radius: 0 0 0 10rem;
    width: 100%;
    height: 916px;
  }

  .header-wrapper {
    margin: 0 5rem;
    padding: 0;
  }

  .logo-link {
    display: inline-block;
    transition: 0.3s;
  }

  .logo-link:hover {
    text-shadow: 1px 2px 0 #dee1ff, 1px 5px 5px #c5caff;
    color: #6070ff;
    transform: translateY(-3px);
  }

  .nav-menu {
    display: flex;
    list-style: none;
  }

  .nav-menu-item-link {
    display: inline-block;
    color: #344563;
    margin: 0 1rem;
    font-weight: 500;
    font-size: 1rem;
    transition: 0.3s;
  }

  .nav-menu-item-link:hover {
    color: #6070ff;
    transform: translateY(-3px);
  }

  .hamburger {
    display: none;
  }

  .hero-wrapper {
    width: 60%;
    margin: 12rem auto;
  }

  h2 {
    font-weight: 700;
  }

  .connect {
    margin: 1rem 0;
  }

  .socials-icons {
    margin: 1rem 0;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    background-color: #f7f7f9;
    padding: 9rem 12rem;
    gap: 6rem 0;
  }

  .work-container {
    padding: 1.5rem;
    flex-direction: row;
    transition: 0.3s;
  }

  .work-container:nth-of-type(2n) {
    flex-direction: row-reverse;
  }

  .work-container:hover {
    border: 1px solid #a7aeff;
    box-shadow: 0 48px 48px 0 #252f8914;
    transform: scale(1.01);
  }

  .work-img {
    width: auto;
    height: 100%;
  }

  .about-work {
    padding: 2.5rem 3%;
    width: auto;
  }

  .about-work .btn {
    width: 7rem;
    margin: 1rem 0;
  }

  .work-data {
    margin: 1rem 0;
  }

  .work-tags {
    margin: 1rem 0;
  }

  .about-wrapper {
    border-radius: 10rem 0 0 0;
    flex-direction: row;
    align-items: center;
  }

  .about-info-wrapper {
    width: 43%;
    margin: 9rem 1.5rem 9rem 8rem;
  }

  .skills-container {
    width: 57%;
    margin: 9rem 8rem 9rem 1.5rem;
  }

  .form-container {
    background: #6070ff url("images/contact-shape-desk.png") center center no-repeat;
    border-radius: 10rem 0 0 0;
    justify-content: center;
    align-items: center;
  }

  .contact-wrapper {
    width: 40%;
    margin: 3rem auto;
  }

  .contact-p {
    font-size: 1.25rem;
    font-weight: 300;
  }

  .form-wrapper {
    width: 70%;
    margin: 2rem auto;
  }

  #msg {
    padding: 0.9rem;
    border-radius: 0.1rem;
    font-size: 1rem;
    height: 8rem;
  }

  .submit-btn {
    margin: 1rem auto;
  }
}
